.zoomable-image {
    width: 300px; 
    transition: transform 0.2s; 
}

.zoomable-image:hover {
    transform: scale(1.5); 
}

@media (min-width: 1024px) {
    .color-list {
        row-cols: 3;
        justify-content: center;
    }
}
@media (max-width: 1023px) {
    .color-list {
        row-cols: 2;
        justify-content: center;
    }
}

