
@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin estilo-texto-y-fondo($color-letra, $color-fondo) {
    color: $color-letra;
    background-color: $color-fondo;
}